<nav class="navbar bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Chouby</a>
        <div>
            <a href="{{ route('auth.register') }}">Innscription</a>
            <a href="{{ route('auth.login') }}">Login</a>

        </div>
    </div>
   
</nav>