<nav class="navbar bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{route('home')}}">Chouby</a>
        <div>
            <a href="{{ route('auth.register') }}" class="btn btn-primary">Inscription</a>
            <a href="{{ route('auth.login') }}" class="btn btn-primary">Login</a>

        </div>
    </div>
   
</nav>